/* Main CSS Start */
*{
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
	height: auto;
}
body{
	font-family: ;
}
h1,h2,h3,h4,h5,h6{
	margin: 0 0 15px;
	font-weight: 700;
}
a:hover{
	text-decoration: none;
}
/* Main CSS Stop */
/* Team Section Start */
.section-padding{
	padding: 80px 0;
}
.team-bg {
	background-image: url(../img/bg-1.jpg);
	height: 250px;
	background-position: center top;
	background-color: #ddd;
	background-size: cover;
	margin-bottom: 50px;
}
.team-bg-2{
	background-image: url(../img/bg-2.jpg);
}
.team-bg-3{
	background-image: url(../img/bg-3.jpg);
}
.section-title {
	position: relative;
	text-align: center;
	text-transform: uppercase;
	transform: rotate(271deg);
	font-size: 42px;
	font-weight: 700;
	margin-top: 65px;
	width: 300px;
	margin-left: -60px;
}
.section-title::before {
	content: "";
	position: absolute;
		/* right: 0; */
	top: -26px;
	height: 2px;
	width: 70%;
	background-color: #000;
		/* left: 36px; */
}
	/* Team border Style */
.borderd-content {
	border: 1px solid #333;
	text-align: center;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 2px;
	padding-bottom: 20px;
}
.borderd-content h3 {
	font-size: 20px;
	background: #fff;
	padding: 0 10px;
	display: inline-block;
	margin-bottom: 5px;
}
.team-title {
	margin-top: -11px;
}
.col-md-4:nth-child(2) .single-team-member {
	margin-top: 100px;
}
/* Team Section Stop */